:root{
    /*declaração de variáveis*/
    --vermelho:#E50914;
    --preto:#141414;    
}

*{
    /* acesso a todo o projeto*/ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    /*fundo e fonte do projeto*/
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:white;
}

header .container{
    /*menu do projeto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    /*logo do projeto*/
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 30px;
}

header nav a{
    /*informações do menu*/
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    /*animação do menu*/
    color: #FFF;
}

/*filme principal*/
.filme_principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/CapaPontoCego.jpg');

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme_principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme_principal .titulo{
    margin-top: 15%;
    font-size: 50px;
    font-family: Arial, sans-serif;
}

.filme_principal .container{
    width: 70%;
}

/*Todos os botoes*/
.botoes{
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;    
}

.botoes i{
    margin-right: 8px;
}

.botao_assistir{
    background-color: rgba(255,255,255,100);
    border-radius: 10px;
    border: none;
    color: black;
}

.botao_assistir:hover{
    background-color: rgb(189, 178, 178);
}

.botao_info{
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    border: none;
    color: white;
}

.botao_info:hover{
    background-color: rgb(49, 47, 47);;
}

.container{
    margin-left: 20px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-left: 10px;
    margin-top: 10px;
}